<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TuJuego.Com</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <article style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="container mt-4" style="text-align: justify; color: white;">
                <br></br>
                <h2>[[#{nosotros.titulo}]]</h2>
                <p>[[#{nosotros.texto1}]]</p>
                <br></br>
                <h3>[[#{nosotros.mision}]]</h3>
                <p>[[#{nosotros.texto2}]]</p>
                <br></br>
                <h3>Visión</h3>
                <p>Nuestra visión en TuJuego.Com es convertirnos en la principal plataforma de venta de videojuegos en línea, reconocida por ofrecer la mejor experiencia de compra y la más amplia selección de títulos para jugadores de todas las edades y preferencias.</p>
                <br></br>
                <h3>FODA</h3>
                <ul>
                    <li><strong>Fortalezas:</strong> Amplia gama de títulos, experiencia en la industria, equipo experto.</li>
                    <li><strong>Oportunidades:</strong> Crecimiento del mercado de videojuegos, expansión a nuevos mercados.</li>
                    <li><strong>Debilidades:</strong> Competencia en línea, dependencia de proveedores externos.</li>
                    <li><strong>Amenazas:</strong> Cambios en las preferencias de los consumidores, piratería informática.</li>
                </ul>
                <br></br>
                <p>Gracias por confiar en nosotros como tu destino número uno para la compra de videojuegos en línea. ¡Esperamos verte pronto en TuJuego.Com!</p>
                <p>Para cualquier consulta o comentario, no dudes en ponerte en contacto con nuestro equipo de atención al cliente. Estamos aquí para ayudarte en todo lo que necesites.</p>
                <p>¡Gracias por ser parte de la familia TuJuego.Com!</p>
            </div>
        </article>
        <br>
        </br>
        <br>
        </br>
        <div class="row row-cols-3 justify-content-center">
            <div class="col">
                <div class="card" style="background-color: rgba(0, 0, 0, 0.5);">
                    <div class="card-body text-center" style="color: white;">
                        <h5 class="card-title">Redes Sociales</h5>
                        <br>
                            <div class="row">
                                <div class="col">
                                    <a href="https://www.facebook.com/TuJuegoCom" target="_blank" class="btn btn-light btn-lg"><i class="fab fa-facebook-f fa-2x"></i></a>
                                </div>
                                <div class="col">
                                    <a href="https://www.instagram.com/TuJuegoCom" target="_blank" class="btn btn-light btn-lg"><i class="fab fa-instagram fa-2x"></i></a>
                                </div>
                                <div class="col">
                                    <a href="https://wa.me/5555555555" target="_blank" class="btn btn-light btn-lg"><i class="fab fa-whatsapp fa-2x"></i></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>


        <footer th:replace="~{layout/plantilla :: footer}">
        </footer>
    </body>
</html>